<div class="row">
  <% if recommendation.image_url %>
      <div class="span2">
        <img src="<%= recommendation.image_url %>"/>
      </div>
  <% end %>
  <div class="span3">
    <h4><%= recommendation.name %></h4>
  </div>
</div>


<h4>Description</h4>
<p><%= recommendation.description %></p>

<% if recommendation.url %>
    <table class="table table-striped table-bordered">
      <tr>
        <td><a href="<%= recommendation.url %>">
          <%= recommendation.url.include?("amazon.com") ? "View on Amazon" :
                      "View this Product" %>
        </a></td>
      </tr>
    </table>
<% end %>

<input type="hidden" value='<%= recommendation.occasion.id %>' id="occasion_id"/>
<% if recommended %>
    <button class="btn btn-success recommend-add-gift" data-occasion-id="<%= recommendation.occasion.id %>" data-recommend-id="<%= recommendation.id %>">Save
      to <%= recommendation.occasion.friend.first_name %>'s Gift List
    </button>
    <button class="btn delete_recommend_gift" data-id=<%= recommendation.id %>>Hide Suggestion</button>
<% else %>
    <button class="btn edit_a_gift" data-gift-id="<%= recommendation.id %>">Edit</button>
    <button class="btn btn-danger delete_gift" data-id=<%= recommendation.id %>>Delete</button>
<% end %>

<script>
    editAGiftClick();
    recommendNewGiftClick();
    deleteRecommendationClick();
    deleteGiftClick();
</script>

